<div class="header" *ngIf="!user">
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="pageHeader">
              <h1 class="headerText">JStack Reward System</h1>
              <span class="subtext">Your efforts, rewarded</span>
              <br>
              <button class="btn btn-warning" routerLink="/login">Log in</button>
          </div>
        </div>
      </div>
    </div>
</div>
<app-account *ngIf="user"></app-account>
