.completechallenge {
  margin-top: 50px !important;
  .challenge {
    margin-top: 30px !important;
  }
  p {
    padding: 0px !important;
    margin: 0px !important;
  }
  h2 {
    text-align: left;
  }

  #challengeHeader {
    text-align: center;
    margin-bottom: 5%;
  }
  label {
    text-decoration: underline;
    margin-bottom: 20px;
  }
  input {
    margin-bottom: 50px;
  }
}

.history {
  margin-top: 50px !important;
  .btn {
    height: 50px;
  }
}

