.completechallenge{
  margin-top: 50px !important;
  h2{
    text-align: left;
    margin-bottom: 50px !important;
  }
  label{
    text-decoration: underline;
    margin-bottom: 20px ;
  }
  input{
    margin-bottom: 50px;
  }
}
table {
  margin-top: 20px;
  margin-bottom: 50px;
}
.history{
  margin-top: 50px !important;
  .btn{
    height: 50px;
  }
}
