<div class="container">
<div class="completechallenge row">
  <h2 class="col-lg-12 ">Complete challenge</h2>
<div class="row col-lg-12">
  <div class=" col-lg-3">

    <label for="category">Choose challenge categorie</label>
    <select #j  class="form-control dropdown col-lg-12" (change)="onDropdownListChange($event)" [(ngModel)]="challenge" id="category">
      <option value="" disabled selected hidden></option>
      <option  class="dropdown-item"  *ngFor="let option of challengeList" [value]="option._id">{{option.challengeName}}</option>
    </select>

  </div>
  <div class="offset-lg-1 col-lg-2">
    <label>Points</label>

    <h2>{{points}}</h2>
  </div>
  <div class=" col-lg-6">
    <div class="form-group">
      <label for="information">Give more information about your challenge</label>
      <input type="text" class="form-control" id="information"  #f>
    </div>
  </div>
</div>
  <div class="row col-lg-12">
  <div class=" col-lg-2">
    <button class="col-lg-12 btn-primary btn" (click)="completeChallenge( j.value, f.value.toString()) ; f.value=''">Request</button>
  </div>
  <div class="offset-lg-4 col-lg-6">
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="succesMessage" class="alert alert-success">{{ succesMessage }}</div>
  </div>
</div></div>

<div class="history">
<button *ngIf="history" (click)="showHistory()" class="col-md-12 btn-danger btn">Close my history</button>
  <button *ngIf="!history" (click)="showHistory()" class="col-md-12 btn-primary btn">Show my history</button>
  <table *ngIf="history" class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Challenge</th>
      <th scope="col">Information</th>
      <th scope="col">Worth</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of challenges; let i = index ">
      <td>{{i+1}}</td>
      <td>{{c.pointsSpent.toString()}}</td>
      <td>{{c.pointsSpent.toString()}}</td>
      <td>{{c.pointsSpent.toString()}}</td>
      <td>{{c.pointsSpent.toString()}}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
