<div class="row">
  <div class="offset-lg-1 col-lg-3">
    <div class="form-group">
      <label for="challengeName">Challenge Name</label>
      <input type="email" class="form-control" id="challengeName" placeholder="" #i>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-group">
      <label for="owner">Challenge Owner</label>
      <input type="text" class="form-control" id="owner" placeholder="owner" #j>
    </div>
  </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="worth">Challenge Worth</label>
        <input type="number" class="form-control" id="worth"  #f>
      </div>
  </div>
  <div class="col-lg-2">
    <button class="btn-primary btn" (click)="addChallenge(i.value, j.value, f.value); i.value=''; j.value='' ; f.value=0">Add</button>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Owner</th>
    <th scope="col">Worth</th>
  </tr>
  </thead>
  <tbody>
 <tr
      *ngFor="let challenge of challengeList; let i = index ">
   <td>{{i +1}}</td>
   <td>{{challenge.challengeName}}</td>
   <td>{{challenge.challengeOwner}}</td>
   <td>{{challenge.challengeWorth}}</td>
 </tr>
  </tbody>
</table>
<pre>{{ challengeList | json }}</pre>
