<th scope="row">{{ index + 1}}</th>
<td>{{ item.email }}</td>
<td>{{ item.pointCount }}</td>
<td>{{ item.userLevel }}</td>
<td>
  <div class="btn p-0">
    <i class="fas fa-pencil-alt" (click)="open(edit)" placement="top" ngbTooltip="Edit"></i>
  </div>
  <div class="btn p-0">
    <i class="far fa-trash-alt ml-3" (click)="open(delete)" placement="top" ngbTooltip="Delete"></i>
  </div>
</td>

<ng-template #edit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-edit-title">Edit <b>{{ item.email }}</b></h4>
  </div>
  <div class="modal-body">
    <div *ngIf="errorMessage" class="alert alert-danger" [innerHtml]="errorMessage"></div>
    <div class="form-group">
      <label for="emailUserEdit">Email address</label>
      <input type="email" class="form-control" id="emailUserEdit" placeholder="name@example.com" value="{{ item.email }}" #i>
    </div>
    <div class="form-group">
      <label for="creditsUserEdit">Credits</label>
      <input type="number" class="form-control" id="creditsUserEdit" placeholder="0" value="{{ item.pointCount }}" #c>
    </div>
    <div class="form-group">
      <label for="levelUserEdit">User level</label>
      <input type="text" class="form-control" id="levelUserEdit" placeholder="user" value="{{ item.userLevel }}" #j>
    </div>
    <div class="form-group">
      <label for="password1">New Password</label>
      <input type="password" class="form-control" id="password1" placeholder="password" aria-describedby="passwordHelp" #p1>
      <small id="passwordHelp" class="form-text text-muted">Only fill in if password needs to be changed.</small>
    </div>
    <div class="form-group">
      <label for="password2">Repeat Password</label>
      <input type="password" class="form-control" id="password2" placeholder="password" aria-describedby="password2Help" #p2>
      <small id="password2Help" class="form-text text-muted">Only fill in if password needs to be changed.</small>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="updateUser(i.value, j.value, c.value, p1.value, p2.value)">Save</button>
  </div>
</ng-template>

<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-delete-title">Deleting <b>{{ item.email }}</b></h4>
  </div>
  <div class="modal-body">
    <h5>Are you sure you want to delete <b>{{ item.email}}</b>?</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">No</button>
    <button type="button" class="btn btn-outline-dark" (click)="deleteUser()">Yes</button>
  </div>
</ng-template>
