<div class="container mt-5">
  <h4>Manage Users</h4>
  <div *ngIf="!userList.length" class="alert alert-danger">Couldn't load the Users. Please try again later.</div>
  <div *ngIf="errorMessage" class="alert alert-danger" [innerHtml]="errorMessage"></div>
  <div *ngIf="succesMessage" class="alert alert-success" [innerHtml]="succesMessage"></div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Credits</th>
        <th scope="col">User Level</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">new</th>
          <td>
            <input type="email" class="form-control" id="emailUser" placeholder="name@example.com" #i>
          </td>
          <td>
            <input type="number" class="form-control" style="width: 75px" id="creditsUser" placeholder="0" #c>
          </td>
          <td>
            <input type="text" class="form-control" id="levelUser" placeholder="user" #j>
          </td>
          <td>
            <button class="btn-primary btn" (click)="addUser(i.value, j.value, c.value); i.value=''; j.value=''; c.value=''">Add</button>
          </td>
        </tr>
        <tr app-user-item
            *ngFor="let user of userList; let i = index"
            [item]="user"
            [index]="i"></tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<!--<pre>{{ userList | json }}</pre>-->
