<div class="container">
  <h4>Manage Users</h4>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text"><span class="fas fa-list"></span></div>
    </div>
    <input type="text" class="form-control" placeholder="Add new user"
           #i
           (keyup.enter)="addUser(i.value); i.value=''">
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">User Level</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr app-user-item
            *ngFor="let user of userList; let i = index"
            [item]="user"
            [index]="i"></tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<pre>{{ userList | json }}</pre>
