<div class="container">
  <h4>Manage Users</h4>
  <div class="row">
    <div class="col-lg-5">
      <div class="form-group">
        <label for="emailUser">Email address</label>
        <input type="email" class="form-control" id="emailUser" placeholder="name@example.com" #i>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="form-group">
        <label for="levelUser">User level</label>
        <input type="text" class="form-control" id="levelUser" placeholder="user" #j>
      </div>
    </div>
    <div class="col-lg-2">
      <button class="btn-primary btn" (click)="addUser(i.value, j.value); i.value=''; j.value=''">Add</button>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">User Level</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr app-user-item
            *ngFor="let user of userList; let i = index"
            [item]="user"
            [index]="i"></tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<!--<pre>{{ userList | json }}</pre>-->
