<div class="container">
    <h2>Accept challenges</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th (click)="orderByUser()" scope="col">User</th>
        <th scope="col">Challenge</th>
        <th scope="col">Description</th>
        <th (click)="orderByStatus()" scope="col">Status</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr
            *ngFor="let item of challenges; let i = index ">
        <td>{{i +1}}</td>
        <td>{{item.user}}</td>
        <td>{{item.challengeid}}</td>
        <td>{{item.description}}</td>
        <td>{{item.status}}</td>
        <td *ngIf="item.status==='pending'">
           <button (click)="open(accept)" class="btn btn-success">Accept</button>
            <button (click)="open(reject)" class="btn btn-danger">Reject</button>

        </td>
        <td *ngIf="item.status!=='pending'">
No actions
        </td>
        <ng-template #reject let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-reject-title">Reject</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to reject {{item.challengeid}} of {{item.user}}?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="close()">No</button>
                <button type="button" class="btn btn-outline-dark" (click)="rejectChallenge(item.userid, item.uniqueid)">Yes</button>
            </div>

        </ng-template>
        <ng-template #accept let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-accept-title">Accept</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to accept{{item.challengeid}} of {{item.user}}?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="close()">No</button>
                <button type="button" class="btn btn-outline-dark" (click)="acceptChallenge(item.userid, item.challengeid, item.uniqueid)">Yes</button>
            </div>

        </ng-template>
    </tr>
    </tbody>


</table>
<span>{{challenge | json}}</span>

</div>