<div class="card">
  <p class="card-header">{{item.name}}</p>
  <div class="card-body">
    <img class="card-img" src="{{item.imgUrl}}" />
    <p>{{item.shortDescription}}</p>
  </div>
  <div class="card-footer">
    <p>Cost: {{item.worth}}</p>
    <button class="btn btn-lg btn-outline-primary" (click)="open(confirmation)">Buy</button>
  </div>
</div>

<ng-template #confirmation let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Purchase reward</h4>
    <span class="mt-2" style="color: red;" *ngIf="user.pointCount < item.worth">Not enough points</span>

  </div>
  <div class="modal-body">
    <h5>Are you sure you want to purchase {{item.name}} for {{item.worth}} points?</h5>
    <h6 class="mb-0">Details:</h6>
    <p>{{item.description}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="request(item, info)" *ngIf="user.pointCount >= item.worth">Yes</button>
  </div>
</ng-template>

<ng-template #info let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Reward ordered</h4>
  </div>
  <div class="modal-body">
    <h5>Your reward, {{item.name}}, has been ordered. Your balance has been reduced with {{item.worth}} credits and an administrator will contact you when you can pick up your reward at HR. You can find an overview of your rewards in your account.</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Ok</button>
  </div>
</ng-template>
