<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">

    <img class="logo" src="../../assets/logo.png" >

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed" (click)="isCollapsed = !isCollapsed">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/store" routerLinkActive="active">Store</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/challenges" routerLinkActive="active">Challenges</a>
          </li>
          <li class="nav-item" *ngIf="user && user.userLevel==='admin'">
            <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ul>
      <ul class="navbar-nav">
            <span class="navbar-text d-lg-block d-md-block d-sm-none" *ngIf="user">
              Point count: {{ user.pointCount }}
            </span>
          <li class="nav-item" *ngIf="user">
            <a class="nav-link" routerLink="/account" routerLinkActive="active">{{ user.email }}</a>
          </li>
          <li class="nav-item" *ngIf="!user">
              <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item" *ngIf="user">
              <a class="nav-link" href="javscript:void(0)" (click)="authenticationService.logout()">Logout</a>
          </li>
      </ul>
  </div>
</nav>
