
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">

        <div class="panel-body">

              <div class="row">
              <a  routerLink="/managerewards" class="col-lg-3 btn btn-danger btn-lg" role="button"><i class="fas fa-gift"></i> <br/><h2>Manage rewards</h2></a>
                <a routerLink="/managechallenge" class=" col-lg-3 btn btn-warning btn-lg" role="button"><i class="fas fa-dumbbell"></i> <br/><h2>Manage challenges</h2></a>
                <a routerLink="/managechallenge" class=" col-lg-3 btn btn-info btn-lg" role="button"><i class="fas fa-check-double"></i> <br/><h2>Accept challenges</h2></a>
                <a routerLink="/manageusers" class=" col-lg-3 btn btn-primary btn-lg" role="button"><i class="fas fa-users"></i> <br/><h2>Manage users</h2></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
